@model DiscussionApp.Models.SportDetail

@{
    ViewBag.Title = "Details";
}

<h2 id="details-h2">Details</h2>
<div>
    <p class="details-nav">
        @Html.ActionLink("Back to Games", "Index")
    </p>
    <p class="details-edit">
        @Html.ActionLink("Edit Game", "Edit", new { id = Model.SportId })
    </p>
</div>
<br />
<div>
    <hr />
        <div class="table-sport-details">
            <div class="div-sport-details">
                <h2 id="media-title">@Html.DisplayFor(model => model.League)</h2>
                <h2>
                    @Html.DisplayFor(model => model.AwayTeam) at
                    @Html.DisplayFor(model => model.HomeTeam)
                </h2>
                <h3>
                    @Html.DisplayFor(model => model.Score)
                </h3>
                <br />
                <p>
                    @Html.DisplayFor(model => model.Time)
                </p>
                <p>
                    @Html.DisplayFor(model => model.Location)
                </p>
                <br />
                <p><b>Network</b></p>
                <p>
                    @Html.DisplayFor(model => model.Network)
                </p>
                <br />
            </div>
        </div>