@model IEnumerable<DiscussionApp.Models.SportListItem>

@{
    ViewBag.Title = "Index";
}

    <div id="carousel-wrapper">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators - the dots at the bottom of each slide -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Assets/Curryklay.jpg" alt="Steph Curry and Klay Thompson">
                    <div class="carousel-caption">
                        <h2>Golden State Warriors vs Toronto Raptors</h2>
                        <h4>Do the Warriors still have the advantage if Kevin Durant is unavailable?</h4>
                        <br />
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Assets/liverpool_cl.jpg" alt="Liverpool wins Champions League Semi">
                    <div class="carousel-caption">
                        <h2>Champions League Final: Liverpool vs Tottenham</h2>
                        <h4>The Champions League Final is set. Liverpool and Tottenham both came back in extraordinary fashion in their semifinal matches.<br />Who will take home the cup?</h4>
                        <br />
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Assets/urshela_walkoff.jpg" alt="Gio Urshela Walkoff">
                    <div class="carousel-caption">
                        <h2>New York Yankees</h2>
                        <h4>The Yankees currently have more players on the injured list than losses. Can their hot streak continue?</h4>
                        <br />
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Assets/laca_auba.jpg" alt="Alexander Lacazetta and Pierre-Emerick Aubameyang">
                    <div class="carousel-caption">
                        <h2>Europa League Final: Arsenal vs Chelsea</h2>
                        <h4>Pierre-Emerick Aubameyang is coming off of a hat-trick in Arsenal's semifinal match. Does Arsenal hold the advantage?</h4>
                        <br />
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Assets/luck.jpg" alt="Andrew Luck">
                    <div class="carousel-caption">
                        <h2>Indianapolis Colts</h2>
                        <h4>Indianapolis surprised the NFL by making the playoffs last season. Are the Colts setup to have the best season of Andrew Luck's career?</h4>
                        <br />
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

<h2 id="sport-index-h2">Sports</h2>

<p id="sport-index-create">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="sport-table-row">
        <th>
            @Html.DisplayNameFor(model => model.League)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Matchup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Network)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr class="sport-table-row">
            <td>
                @Html.DisplayFor(modelItem => item.League)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.Matchup)*@
                @Html.ActionLink(item.Matchup, "Details", new { id = item.SportId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Network)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SportId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SportId })
            </td>
        </tr>
    }

</table>
