@model IEnumerable<DiscussionApp.Models.SportListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.League)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Network)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchUp)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.League)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomeTeam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AwayTeam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Network)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Score)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MatchUp)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SportId }) |
        @Html.ActionLink("Details", "Details", new { id = item.SportId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SportId })
    </td>
</tr>
}

</table>
