@model DiscussionApp.Models.FilmDetail

@{
    ViewBag.Title = ViewBag.FilmTitle;
}

<h2 id="details-h2">Details</h2>

<div class="details-controls" style="clear: both;">
    <p class="details-nav">
        @Html.ActionLink("Back to Film", "Index")
    </p>
    <p class="details-edit">
        @Html.ActionLink("Edit Film", "Edit", new { id = Model.FilmId })
    </p>
</div>
<br />
<div>
    <hr />
    <div class="table-tv-details">
        <div class="div-tv-details">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <p>
                @Html.DisplayFor(model => model.Year) |
                @Html.DisplayFor(model => model.Rating) |
                @Html.DisplayFor(model => model.Runtime) mins |
                @Html.DisplayFor(model => model.Genre1) /
                @Html.DisplayFor(model => model.Genre2)
            </p>
            <br />
            <p>
                <b>Director</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Director)
            </p>
            <br />
            <p>
                <b>Writing</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Writer)
            </p>
            <br />
            <p>
                <b>Cinematography</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Cinematographer)
            </p>
            <br />
            <p>
                <b>Editing</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Editor)
            </p>
            <br />
            <p>
                <b>Stars</b>
            </p>
            <p>
                @Html.DisplayFor(model => model.Stars)
            </p>
            <br />
            <p><b>Synopsis</b></p>
            <p>
                @Html.DisplayFor(model => model.Synopsis)
            </p>
            <br />
        </div>
    </div>
</div>


