@model IEnumerable<DiscussionApp.Models.PostListItem>
<div id="top"></div>

@{
    ViewBag.Title = ViewBag.DiscussionTitle;
}

<h2>Discussion: @ViewBag.DiscussionTitle</h2>

<p class="discussion-nav">
    @Html.ActionLink("Back to Discussion Board", "Index", "Discussion") | <a href="#new_reply">Go to bottom</a>
</p>

<hr />

@{
    int i = 1;
}
@foreach (var item in Model)
{
    <div class="post">
        <div class="datestamp">
            <span>
                <b>#@i Posted @Html.DisplayFor(modelItem => item.CreatedUTC)</b>
                <span class="controls">
                    <span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                    </span>
                </span>
            </span>
        </div>
        <div class="row postmain">
            <div class="col-xs-12 creatorinfo">
                <span><b>@Html.DisplayFor(modelItem => item.CreatorUsername)</b></span>
            </div>
            <div class="col-xs-12 body">
                @{
                    string[] content = item.Body.Split('\n');
                }
                <p>
                    @foreach (string line in content)
                    {
                        @line<br />
                    }
                </p>
                @if (item.ModifiedUTC != null)
                {
                    <br />
                    <span>(Edited @Html.DisplayFor(modelItem => item.ModifiedUTC))</span>
                }
            </div>
        </div>
    </div>
    <br />
    i++;
}
<br />
<div id="new_reply" class="newreply">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <textarea name="body" placeholder="New Reply" rows="4" cols="50"></textarea>
        <br />
        <input type="submit" value="Post" />
    }
</div>
<br />
<p class="discussion-nav">
    @Html.ActionLink("Back to Discussion Board", "Index", "Discussion") | <a href="#top">Jump to Top</a>
</p>