@model DiscussionApp.Models.DiscussionDetail

@{
    ViewBag.Title = ViewBag.Discussion;
}

<h2>@ViewBag.Discussion</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscussionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscussionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCount)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Film Details", "Details", new { id = Model.FilmId }) |*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscussionId }) |
    @Html.ActionLink("Back to Discussion Board", "Index")
</p>
