@model IEnumerable<DiscussionApp.Models.DiscussionListItem>

@{
    ViewBag.Title = "Sport Discussions";
}

<h2 id="discussion-index-sport-h2">Sport Discussions</h2>

<div id="discussion-index-controls" style="clear: both;">
    <p id="discussion-index-create">
        @Html.ActionLink("Create New", "CreateSportDiscussion", "Discussion") |
        @Html.ActionLink("Discussion Board", "Index", "Discussion")
    </p>
    <p id="discussion-index-filter">
        <b>Filter Discussions By Type:</b>
        @Html.ActionLink("Film", "IndexFilm", "Discussion") |
        @Html.ActionLink("Television", "IndexTelevision", "Discussion") |
        @Html.ActionLink("Sports", "IndexSport", "Discussion")
    </p>
</div>

<table class="table">
    <tr class="discussion-table-headings">
        <th>
            @Html.DisplayNameFor(model => model.DiscussionTitle)
        </th>
        <th>
            Event
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCount)
        </th>
        <th>
            Created
        </th>
        <th>
            Last Post
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="discussion-table-row-sport">
            <td>
                @Html.ActionLink(item.DiscussionTitle, "Index", "Post", new { discussionId = item.DiscussionId.ToString() }, null)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Sport", new { id = item.SportId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUTC) by @Html.DisplayFor(modelItem => item.CreatorUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPostUTC) by @Html.DisplayFor(modelItem => item.LastPostCreatorUsername)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DiscussionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DiscussionId })
            </td>
        </tr>
    }

</table>
